/* ESTILOS DE LA VISTA GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 254, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(245, 239, 231);
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.left {
    position: initial;
    background-color: rgb(126, 219, 231);
    padding: 20px;

}

.right {
    position: initial;
    background-color: rgb(162, 202, 206);
    padding: 20px;

}

.image,
.Contact,
.Skills,
.Language,
.Hobbies,
.title,
.Summary,
.Experience,
.Education,
.project {
    margin-bottom: 30px;
}

.h2 {
    background-color: rgb(4, 96, 150);
}

/* ESTILOS CHECKBOCK IDIOMA */
.en {
    color: #333;
}

.es {
    color: #00a1ff;
}

.check {
    position: relative;
    width: 50px;
}

.check::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.check::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked::after {
    left: 25px;
    border: 2px solid #00a1ff;
}

.check:checked::before {
    background: #00a1ff;
}