/* //////////////////////////////////////////////////////////////////// */
/* ////////////////////// GLOBAL STYLES //////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    /* background-color: #000000; */
}

/* BODY STYLES */
body {
    /* display: flex; */
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    overflow: hidden;
    touch-action: manipulation;
    /* Bloquea el scroll de la página */
    /* Añade un espacio para evitar que el contenido se superponga con la barra de navegación */
}

/* MAIN STYLES */
main {
    flex-grow: 2;
    flex-direction: column;
    overflow: hidden;
}

/* Diseño tipo infinito en los laterales */
main::before,
main::after {
    content: '';
    position: relative;
    left: 0;
    right: 0;
    height: 0;
    z-index: -1;
}

main::before {
    top: 0;
    /* background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0%)); */
}

main::after {
    bottom: 0;
    /* background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0%)); */
}

/* SECTION STYLES */
section {
    flex: 1;
    min-height: 100vh;
    display: flex;
}

section:nth-child(odd) {
    background-color: transparent;
}

section:nth-child(even) {
    background-color: #931a1a;
}

footer {
    height: 100px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

/* //////////////////////////////////////////////////////////////////// */
/* /////////////////// STYLES RESPONSIVE MOVIL ///////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* Mobile Styles */
@media (max-width: 1080px) {
    body {
        /* define el tamaño de fuente */
        font-size: 14px;
        /* Bloquea el zoom en dispositivos móviles */
        zoom: 100% !important;
        /* Deshabilita la selección de texto en dispositivos móviles Firefox */
        -moz-user-select: none;
        /* Deshabilita la selección de texto en dispositivos móviles WebKit */
        -webkit-user-select: none;
        /* Deshabilita la selección de texto en dispositivos móviles IE/Edge */
        -ms-user-select: none;
        /* Deshabilita la selección de texto en dispositivos móviles */
        user-select: none;
    }

    .container {
        padding: auto;
    }

    .content {
        padding: auto;
    }

    .img-dev {
        max-width:50%;
        height: auto;
    }
}

/* Tablet and Desktop Styles */
@media (min-width: 1080px) {
    body {
        zoom: 100% !important; /* Bloquea el zoom en dispositivos de escritorio */
        font-size: 16px;
    }

    .container {
    }

    .content {
    }

    .img-dev {
        max-width: 60%;
        height: auto;
    }
}
/* //////////////////////////////////////////////////////////////////// */
/* /////////////////////////// NAV BAR ///////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */

.side-nav {
    position: fixed;
    /* Fija la posición del nav en la ventana del navegador */
    left: 0;
    /* Alinea el nav a la izquierda */
    top: 0;
    /* Alinea el nav en la parte superior */
    height: 100vh;
    /* Establece la altura del nav al 100% del viewport */
    width: 200px;
    /* Establece el ancho del nav según tus necesidades */
    background-color: #000000;
    /* Establece el color de fondo del nav */
    scroll-behavior: smooth;
    /* Agrega un desplazamiento suave al navegar por los enlaces del nav */
}

/* ESTILOS DE TEXTO NAV BAR */
nav li {
    display: inline;
    margin: 20%;
}

/* fuente y estilo de texto de nav bar */
nav li a {
    display: block;
    /* Convierte los enlaces en elementos de bloque para ocupar todo el ancho del nav */
    padding: 10px;
    /* Agrega un espacio alrededor de los enlaces para mayor legibilidad */
    color: #ffffff;
    /* Establece el color de texto de los enlaces */
    text-decoration: none;
    /* Elimina el subrayado de los enlaces */
    font-weight: bold;
    /* Establece el peso de la fuente de los enlaces */
}

/* cuando pasa el cursos ejecuta */
nav li a:hover {
    color: #ff00dd;
    /* Cambia el color del texto al pasar el cursor sobre los enlaces */
}

/* END ESTILOS DE TEXTOS NAV BAR */


/* ESTILOS CHECKBOX IDIOMA */
.en {
    color: #03bcff;
}

.es {
    color: #00a1ff;
}

.check {
    position: relative;
    width: 1em;
    z-index: 10;
}

.check::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #ffffff;
    border-radius: 25px;
}

.check::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    border: 2px solid #00a1ff;
    box-sizing: border-box;
    left: 0;
    transition: left 0.25s, border-color 0.25s;
}

.check:checked::after {
    left: 25px;
    border-color: #00a1ff;
}

.check:checked::before {
    background: #00a1ff;
}

/* END ESTILOS CHECKBOX IDIOMA */

/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
.name {
    font-family: 'Tilt Prism', cursive;
    font-size: 3rem;
    color: #03bcff;
    display: inline-block;
    text-shadow: 20px 10px 15px #f521e4;
    z-index: 5;
}

/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
.slogan {
    position: relative;
    top: 20%;
    left: 5%;
    font-size: 120%;
    z-index: 5;
}

.growing {
    font-family: 'Kablammo', cursive;
    color: green;
}

.learning {
    font-family: 'Alfa Slab One', cursive;
    color: white;
}


.developing {
    font-family: 'Silkscreen', cursive;
    color: #03bcff;
}

/* ANIMACION DE ESTILO DE .designing */
.designing {
    font-family: 'Permanent Marker', cursive;
    display: inline;
    background: linear-gradient(to left, #f521e4, #2d0718);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientTransition 0.4s infinite alternate;
}

@keyframes gradientTransition {
    0% {
        background: linear-gradient(to left, #ffffff, #ff0073);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    25% {
        background: linear-gradient(to left, #f8e2f5, #f82a87);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background: linear-gradient(to left, #f893eb, #fb4a9a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    75% {
        background: linear-gradient(to left, #f953e3, #fda8cf);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: linear-gradient(to left, #fe01e9, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/* END ANIMACION .designing */
/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */






/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */

/* FUENTES */
/* ///// TITULO SLOGAN ////// */
/* .name
font-family: 'Tilt Prism', cursive;
.growing
font-family: 'Alfa Slab One', cursive;
.learning
font-family: 'Kablammo', cursive;
.designing
font-family: 'Permanent Marker', cursive;
.developing
font-family: 'Silkscreen', cursive; */